@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  scroll-behavior: smooth;
  background: linear-gradient(
    135deg,
    #316CB9 0%,
    #0078B7 30%,
    #0374AB 60%,
    #4776B0 100%
  );
  color: #F8F9FA;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}


h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
